<div class="file-upload2">
    <div *ngIf="warnings && warnings.length > 0" class="alert alert-danger">
        <ul style="padding-top: 0; margin-top: 0;">
            <li *ngFor="let warn of warnings">
                {{warn.message}}
                <div *ngIf="warn.unacceptedFiles && warn.unacceptedFiles.length > 0">
                    <ul style="padding-top: 0; margin-top: 0; padding-left: 15px;">
                        <li style="list-style-type: circle;" *ngFor="let file of warn.unacceptedFiles">{{file.name}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="file-upload2-container"
         *ngIf="!disabled"
         (dragenter)="DragEnter($event)"
         (dragover)="DragOver($event)"
         (dragleave)="DragLeave($event)"
         (drop)="Drop($event)">

        <div *ngIf="showDragDropBox"
             [class]="highlight ? (uploadBoxCssClass + ' highlight') : uploadBoxCssClass"
             [innerHtml]="sanitizer.bypassSecurityTrustHtml(uploadGuidanceHtml)">
        </div>

        <div class="file-selector">
            <input type="file" style="display: none;" #filePicker (change)="OnFileSelect($event)" [multiple]="allowMultiple" />
            <button [class]="btnCssClass"
                    [innerHtml]="sanitizer.bypassSecurityTrustHtml(btnFileSelectorHtml)"
                    (click)="OpenFilePicker()">
            </button>
        </div>
    </div>
</div>
